.app {
  min-height: 100vh;
  padding-top: 50px;
}
.app__body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.app__header {
  position: fixed;
  margin-top: -52px;
  background: white;
  color: black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 2px 14px 30px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 14px 30px -10px rgba(0,0,0,0.75);
  box-shadow: 2px 14px 30px -10px rgba(0,0,0,0.75);
  border-radius: 50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10;
}
.header__title {
  margin: 0 auto
}
.app__footer {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  background: #1b1b1e;
  color: #ffc425;
  margin-top: 50px;
}